body {
    padding: 10px;
    max-width: 1600px;
    margin: 0 auto;
  }

  .intro {
    text-align: left;
    width: 700px;
  }
  .twikipedia {
    position: absolute;
    top: -20px;
    right: 20px;
    font-size: 3rem;

  }
  .links {
    position:absolute;
    left: 550px;
    top: 22px;
    font-size: 1.5rem;
  }
  .intro-img {
    position:absolute;
    top: 130px;
    right: 400px;
  }
  .history {
    margin-top: 35px;
    text-align: left;
  }
  .references {
    position: absolute;
    top:100px;
    right: 40px;
    width: 350px;
  }



