html {
    font-size: 10px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fefae0;
}
nav{
    height: 50vh;
    width: 100em;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: #606c38;
}
nav a{
    width:10vw;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    color:#e9edc9;
}


img{
    width:30vw;
    height: 30vh;
}

#red-ball{
    background-color: #283618;
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
}
h1 {
    font-size: 6em;
    color: #283618;
}