@mixin absoluteTop() {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @mixin flexCenter($dir) {
    display: flex;
    justify-content: center;
    align-items: center;
    @if $dir == 'column' {
      flex-direction: column;
    }
    @else if $dir == 'row' {
      flex-direction: row;
    }
  }
  
  @mixin energyBall($content, $color, $scale) {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    transform: scaleX($scale) scaleY($scale);
  
    &::before {
      content: $content;
      font-size: 1.4rem;
      color: black;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 1px;
      left: 0;
      filter: grayscale(1) contrast(10);
      z-index: 10;
    }
  
    &::after {
      content: ' ';
      color: black;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: radial-gradient(circle at 8px 8px, rgba(255,255,255,0.8) 0px, rgba(255,255,255,0) 20px),
                        radial-gradient(circle at 20px 20px, rgba(0,0,0,0.6) 0px, rgba(0,0,0,0) 30px),
                        radial-gradient(farthest-side, $color, $color);
    }
  }
  
  * {
    user-select: none;
  }
  
  body {
    font-family: "Jost", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #300A43, #493573, #B265C5, #310538);
  }
  
  .splash-instructions {
    @include absoluteTop();
    @include flexCenter('column');
    background-color: rgba(0,0,0,0.8);
    color: white;
    z-index: 100;
    animation: 2.5s linear instructions-animation forwards;
    animation-delay: 0.75s;
    opacity: 0;
  }
  
  @keyframes instructions-animation {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% {
      opacity: 0;
      display: none;
    }
  }
  
  :root {
    --width: 450px;
  }
  
  .container {
    @include flexCenter('row');
    width: 100vw;
    height: 100vh;
  }
  
  .card {
    width: var(--width);
    height: calc(var(--width) * 1.4);
    border-radius: calc(var(--width) * 0.05);
    position: relative;
  }
  
  .card-back {
    @include absoluteTop();
    font-family: "Luckiest Guy";
    border-radius: calc(var(--width) * 0.05);
    text-align: center;
    overflow: hidden;
  
    .card-border {
    @include absoluteTop();
      background-color: rgb(6, 24, 123);
    }
    
    .card-image-bg {
      --border-width: 50px;
      @include absoluteTop();
      @include flexCenter('column');
      
      left: calc(var(--border-width) / 2);
      top: calc(var(--border-width) / 2);
      width: calc(100% - var(--border-width));
      height: calc(100% - var(--border-width));
      overflow: hidden;
      
      .egg {
        width: 250px;
        height: 320px;
        border-top-left-radius: 50% 66%;
        border-top-right-radius: 50% 66%;
        border-bottom-left-radius: 50% 33%;
        border-bottom-right-radius: 50% 33%;
        background-color: magenta;
        z-index: 50;
        background-image: radial-gradient(ellipse at 30% 20%, rgba(255,255,255,1) 0px, rgba(255,255,255,0) 70px),
                          radial-gradient(ellipse at 75% 85%, rgba(0, 0, 0, 0.6) 0px, rgba(0,0,0,0.3) 100px, rgba(0,0,0,0) 220px),
                          radial-gradient(ellipse at 50% 50%, rgba(255, 0, 255, 0.7) 0%, rgba(128,0,128,0) 100%);
        box-shadow: 20px 20px 30px rgba(0,0,0,0.7);
        transform: rotateZ(15deg);
      }
      
      .aqueous-bg {
        @include absoluteTop();
        filter: blur(5px) contrast(100) blur(8px) opacity(0.5);
        background-image: radial-gradient(circle at 10px 10px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 40px 15px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 95px 5px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 125px 20px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 175px 10px, #00f 0px, #006 30px, transparent 30px),
          
                          radial-gradient(circle at 10px 60px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 40px 55px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 95px 55px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 125px 70px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 175px 65px, #00f 0px, #006 30px, transparent 30px),
          
                          radial-gradient(circle at 185px 125px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 135px 120px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 85px 115px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 40px 125px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 20px 110px, #00f 0px, #006 30px, transparent 30px),
          
                          radial-gradient(circle at 10px 160px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 40px 155px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 95px 155px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 125px 170px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 175px 165px, #00f 0px, #006 30px, transparent 30px),
          
                          radial-gradient(circle at 10px 190px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 125px 200px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 40px 185px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 175px 215px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 95px 195px, #00f 0px, #006 30px, transparent 30px),
          
                          radial-gradient(circle at 10px 260px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 40px 255px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 95px 255px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 125px 270px, #00f 0px, #006 30px, transparent 30px),
                          radial-gradient(circle at 175px 265px, #00f 0px, #006 30px, transparent 30px),
          ;
        background-size: 50% 50%;
        background-repeat: repeat;
      }    
      
      .windy-blurs {
        @include absoluteTop();
        @include flexCenter('column');
        filter: contrast(100);
        transform: skew(10deg, -50deg);
      }
      
      .windy-blurs p {
        @include absoluteTop();
        @include flexCenter('column');
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-size: 20rem;
        transform: scaleY(2) scaleX(2.5) rotateZ(219deg);
        opacity: 0.5;
        color: white;
        
        filter: blur(5px);
        
        &:nth-child(2) {
          transform: scaleY(2) scaleX(2.5) rotateZ(85deg);
        }
        &:nth-child(3) {
          transform: scaleY(2) scaleX(2.5) rotateZ(-45deg);
        }
      }
    }
    
    .card-text {
      @include absoluteTop();
      font-size: 3.25rem;
      text-align: center;
      color: yellow;
      
      textPath {
        letter-spacing: -6px;
        box-shadow: 5px 5px 0px black;
      }
      
      text:first-of-type textPath {
        text-shadow: 3px 3px 0px black;
        transform: translateX(3px) translateY(3px);
      }
      
      &.text-top {
        @include absoluteTop();
        height: unset;
        -webkit-text-stroke: 3px rgb(73,104,139);
      }
      &.text-bottom {
        @include absoluteTop();
        
        textPath {
          letter-spacing: -2px;
        }
        height: unset;
        top: unset;
        bottom: 0;
      }
    }
  }
  
  .card-front {
    @include absoluteTop();
    --border-width: 50px;
    display: flex;
    flex-direction: column;
    border-radius: calc(var(--width) * 0.05);
    overflow: hidden;
    
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    color: #222;
    
    .evolves-from,
    .caption,
    .info-footer {
      font-style: italic;
    }
    
    .creature-name,
    .evolves-from,
    .caption,
    .left-stat, .middle-stat, .right-stat,
    .info-footer,
    .illustrator, .date-and-rarity {
      font-weight: bold;
    }
    
    .card-body {
      padding: calc(var(--border-width) / 2);
    }
  
    .card-border {
      @include absoluteTop();
      background-color: rgb(240,207,53);
    }
    
    .card-body-bg {
      @include absoluteTop();
      @include flexCenter('column');
      
      left: calc(var(--border-width) / 2);
      top: calc(var(--border-width) / 2);
      width: calc(100% - var(--border-width));
      height: calc(100% - var(--border-width));
      overflow: hidden;
      background-color: #89f;
      background-image:
        radial-gradient(circle at 50% 50%, rgba(17,88,224,0.3), rgba(17,88,224,0.3)),
        radial-gradient(circle at 45px 380px, rgba(255,255,255,0.9) 0px, rgba(255,255,255,0) 60px),
        radial-gradient(circle at 285px 380px, rgba(255,255,255,0.9) 0px, rgba(255,255,255,0) 120px),
        radial-gradient(circle at 125px 520px, rgba(255,255,255,0.9) 0px, rgba(255,255,255,0) 50px),
        url("https://assets.codepen.io/246681/cloud_bg.png");
    }
    
    .card-body-bg ~ * {
      z-index: 10;
      position: relative;
    }
    
    .sub-header {
      width: 100%;
      box-sizing: border-box;
      text-align: right;
      
      &:has(.evolves-from) {
        padding-right: 0.5rem;
        
        &::after {
          content: ' ';
          display: block;
          position: absolute;
          width: 92%;
          height: 2px;
          left: calc(var(--border-width) / 3);
          top: 20px;
          background-image: linear-gradient(to right, rgb(157,151,91) 0%, rgb(170,94,80) 80%, rgb(169,189,153));
        }
      }
      
      .evolves-from,
      .placement {
        padding-right: 0.5rem;
        font-size: 0.7rem;
        display: inline-block;
      }
  
      &:has(.creature-name) {
        padding-top: 0.2rem;
        padding-right: 4rem;
      }
      
      .creature-name,
      .creature-hp,
      .type-icon {
        font-size: 1.66rem;
        display: inline-block;
      }
      
      .creature-hp {
        color: rgb(196,58,56);
      }
      
      .type-icon {
        @include energyBall('🐾', #88f, 1);
        position: absolute;
        padding: 0;
        margin-left: 8px;
        margin-top: -4px;
      }
    }
  
    .ev-stage-badge {
      z-index: 20;
      @include absoluteTop();
      width: 80px;
      height: 80px;
      left: 46px;
      top: 55px;
      
      .ev-stage-number {
        position: absolute;
        left: 2px;
        top: -13px;
        font-weight: bold;
        font-size: 0.8rem;
        transform: scaleX(0.8);
      }
      
      .ev-stage-image {
        .img-bg {
          @include absoluteTop();
          left: 4px;
          width: 46px;
          height: 46px;
          background-image: linear-gradient(to bottom right, rgb(110,105,75), rgb(137,122,115), rgb(110,105,75));
        }
        
        .img-fg {
          @include absoluteTop();
          left: 4px;
          width: 46px;
          height: 46px;
          background-image: url("https://assets.codepen.io/246681/trout_03.png");
          background-size: cover;
          z-index: 10;
        }
      }
      
      .ev-stage-bg-filigree {
        @include absoluteTop();
        z-index: -1;
        top: -10px;
        
        .rect-01,
        .rect-02,
        .rect-03 {
          @include absoluteTop();
          left: -5px;
          width: 62px;
          height: 62px;
          background-image: linear-gradient(to bottom, rgb(148,134,97), rgb(164,188,179), rgb(148,134,97));
        }
        
        .rect-01 {
          transform: rotateZ(45deg);
        }
        .rect-02 {
          transform: rotateZ(55deg);
          background-image: linear-gradient(to bottom left, rgb(148,134,97), rgb(164,188,179), rgb(148,134,97));
        }
        .rect-03 {
          transform: rotateZ(35deg);
          background-image: linear-gradient(to bottom right, rgb(148,134,97), rgb(164,188,179), rgb(148,134,97));
        }
      }
    }
  
    .primary-image {
      width: 350px;
      height: 250px;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      
      .primary-image-border {
        @include absoluteTop();
        top: -25px;
        left: -25px;
        display: block;
        background-color: gold;
        width: 400px;
        height: 300px;
        z-index: -10;
        background-image: linear-gradient(to bottom right, #7C7361, #433B2C, #BCB88B, #362D26, #A49B78, #3A3529, #BBB38C, #413D33, #948F73);
        filter: blur(10px);
      }
      
      .primary-image-bg {
        @include absoluteTop();
        width: 334px;
        height: 234px;
        margin: 8px;
        overflow: hidden;
        .star {
          @include absoluteTop();
          width: var(--size);
          height: var(--size);
          background-image:
            radial-gradient(ellipse calc(var(--size) * 0.5) calc(var(--size) * 0.05), rgba(255,255,255,1), rgba(255,255,255,0)),
            radial-gradient(ellipse calc(var(--size) * 0.05) calc(var(--size) * 0.5), rgba(255,255,255,1), rgba(255,255,255,0));
        }
        
        .star-large {
          --size: 100px;
        }
        .star-small {
          --size: 50px;
        }
        .star-tiny {
          --size: 2px;
          background-image: radial-gradient(circle at 50% 50%, rgba(255,255,255,1), rgba(255,255,255,1));
        }
        
        .star-large:nth-of-type(1) { left: -10px; top: -10px; }
        .star-large:nth-of-type(2) { left: 240px; top: 110px; } 
        .star-large:nth-of-type(3) { left: 90px; top: 160px; }
        
        .star-small:nth-of-type(4) { left: 80px; top: 30px; }
        .star-small:nth-of-type(5) { left: 280px; top: 0px; }
        .star-small:nth-of-type(6) { left: 200px; top: 195px; }
        
        .star-tiny:nth-of-type(7) { left: 120px; top: 10px; }
        .star-tiny:nth-of-type(8) { left: 220px; top: 5px; }
        .star-tiny:nth-of-type(9) { left: 30px; top: 130px; }
        .star-tiny:nth-of-type(10) { left: 320px; top: 90px; }
        .star-tiny:nth-of-type(11) { left: 318px; top: 222px; }
        .star-tiny:nth-of-type(12) { left: 22px; top: 214px; }
        .star-tiny:nth-of-type(13) { left: 216px; top: 163px; }
      }
      
      .bg-main-color {
        @include absoluteTop();
        background-color: darkblue;
        background-image: 
          radial-gradient(circle at 190px 70px, rgba(255,255,255,0.8) 0px, transparent 100px),
          radial-gradient(circle at 84px 32px, rgba(255,255,255,0.8) 0px, transparent 60px),
          radial-gradient(circle at 43px 102px, rgba(255,255,255,0.9) 0px, transparent 80px),
          radial-gradient(circle at 80px 220px, rgba(255,255,255,0.7) 0px, transparent 220px),
          radial-gradient(circle at 272px 218px, rgba(255,255,255,0.8) 0px, transparent 60px),
          radial-gradient(circle at 330px 100px, rgba(255,255,255,0.7) 0px, transparent 180px);
        z-index: -10;
        filter: blur(10px) contrast(4);
        
        &::after {
          @include absoluteTop();
          content: ' ';
          width: 100%;
          height: 100%;
          background-color: darkmagenta;
          opacity: 0.6;
        }
      }
      
      .bg-shimmer-color {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image:
          repeating-radial-gradient(circle at 188px 120px, rgba(255,255,255,0.4) 0px, rgba(255,255,255,0) 4px, transparent 4px, transparent 20px),
          repeating-radial-gradient(circle at 350px 90px, rgba(255,255,255,0.5) 0px, rgba(255,255,255,0) 8px, transparent 8px, transparent 100px),
          repeating-radial-gradient(circle at 38px 350px, rgba(255,255,255,0.5) 0px, rgba(255,255,255,0) 8px, transparent 8px, transparent 35px),
          repeating-radial-gradient(circle at 380px 35px, rgba(255,255,255,0.4) 0px, rgba(255,255,255,0) 5px, transparent 5px, transparent 35px),
          repeating-radial-gradient(circle at 128px 150px, rgba(255,255,255,0.4) 0px, rgba(255,255,255,0) 4px, transparent 4px, transparent 20px),
          repeating-radial-gradient(circle at 340px 100px, rgba(255,255,255,0.5) 0px, rgba(255,255,255,0) 8px, transparent 8px, transparent 100px),
          repeating-radial-gradient(circle at 18px 360px, rgba(255,255,255,0.5) 0px, rgba(255,255,255,0) 8px, transparent 8px, transparent 35px),
          repeating-radial-gradient(circle at 350px 55px, rgba(255,255,255,0.4) 0px, rgba(255,255,255,0) 5px, transparent 5px, transparent 35px),
          repeating-radial-gradient(circle at 0px 0px, rgba(255,255,255,0.4) 0px, rgba(255,255,255,0) 4px, transparent 4px, transparent 40px);
        filter: opacity(0.4);
        mix-blend-mode: overlay;
        
        &::after {
          content: ' ';
          width: 100%;
          height:100%;
          position: absolute;
          background-repeat: repeat-x;
          background-image: linear-gradient(75deg,
              rgba(255,255,255,0.7) 0%,
              rgba(255,255,255,0) 15%,
              rgba(255,255,255,0.7) 16%,
              rgba(255,255,255,0) 20%,
              rgba(255,255,255,0.7) 34%,
              rgba(255,255,255,0) 36%,
              rgba(255,255,255,0) 52%,
              rgba(255,255,255,0.7) 60%,
              rgba(255,255,255,0) 68%,
              rgba(255,255,255,0) 79%,
              rgba(255,255,255,0.7) 84%,
              rgba(255,255,255,0) 84%,
              rgba(255,255,255,0) 94%,
              rgba(255,255,255,0.7) 100%
            );
          animation: 3s ease-in-out bg-shimmer forwards infinite;
        }
      }
      
      @keyframes bg-shimmer {
        0% {
          background-position-x: 0px;
        }
        33% {
          background-position-x: 100px;
        }
        66% {
          background-position-x: -100px;
        }
      }
      
      .primary-image-fg {
        @include absoluteTop();
        top: 8px;
        left: 8px;
        width: 334px;
        height: 234px;
        background-size: 250px 250px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("https://assets.codepen.io/246681/troutsmith.png");
      }
    }
    
    .decorator-badges {
      @include absoluteTop();
      left: 30px;
      top: 324px;
      width: 32px;
      height: 28px;
      textPath {
        font-size: 0.9rem;
        font-weight: bold;
        letter-spacing: -1px;
      }
      &::after {
        position: absolute;
        left: 10px;
        top: 13px;
        content: '1';
        width: 12px;
        height: 12px;
        font-size: 9px;
        text-align: center;
        padding-top: 1px;
        box-sizing: border-box;
        color: #67e;
        background-color: black;
        border-radius: 50%;
      }
    }
    
    .caption {
      width: 320px;
      height: 15px;
      background-color: gold;
      margin: 5px auto 0px auto;
      font-size: 0.8rem;
      text-align: center;
      padding-top: 2px;
      background-image: linear-gradient(55deg, #726653, #C1B9A0, #8B8575, #C6BD9E, #6C6344);
      
      &::after {
        content: " ";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid #908F80;
        filter: blur(1px);
      }
    }
    
    .move-set {
      padding: 10px;
      .move {
        border-bottom: 2px solid black;
        @include flexCenter('row');
        justify-content: space-between;
        min-height: 70px;
        
        .energy-req {
          min-width: 80px;
        }
        
        .move-name {
          font-weight: bold;
          font-size: 1.3rem;
          
          .move-description {
            font-weight: normal;
            font-size: 1.0rem;
            letter-spacing: -0.7px;
          }
          
        }
        .move-cost {
          transform: scaleY(1.1);
          font-size: 2rem;
        }
      }
      
      .move:nth-of-type(1) {
        .en {
          @include energyBall('🐾', #88f, 0.9);
          display: inline-block;
        }
      }
      
      .move:nth-of-type(2) {
        .en:nth-of-type(1),
        .en:nth-of-type(2) {
          @include energyBall('🐾', #88f, 0.9);
          display: inline-block;
        }
        .en:nth-of-type(3),
        .en:nth-of-type(4) {
          @include energyBall('🌙', #360837, 0.9);
          display: inline-block;
          
          &::before {
            top: 2px;
            left: -1px;
          }
        }
      }
    }
    
    .stat-footer {
      margin-top: -10px;
      width: 100%;
      display: flex;
      font-size: 0.8rem;
      justify-content: space-around;
      
      .stat-type {
        margin: 0 auto;
        text-align: center;
      }
      
      .left-stat,
      .middle-stat,
      .right-stat {
        text-align: center;
        width: 30%;
      }
      
      .left-stat {
        .stat-type {
          @include energyBall('📏', #eef, 0.8);
          &::before {
            top: 2px;
            left: -1px;
            filter: contrast(2) invert(1);
          }
        }
      }
      
      .middle-stat {
        .stat-type {
          @include energyBall('🍃', #2a2, 0.8);
          &::before {
            top: 2px;
            left: -1px;
            filter: grayscale(0) contrast(0) brightness(0);
          }
        }
      }
      
      .right-stat {
        .stat-type .stat-count {
          margin: 0 -3px;
          display: inline-block;
          @include energyBall('*', #eef, 0.8);
          &::before {
            top: -2px;
            left: -0px;
            filter: grayscale(0) contrast(0) brightness(0);
            font-size: 2.3rem;
          }
        }
      }
    }
    
    .info-footer {
      border: 2px solid;
      border-image: linear-gradient(25deg, #153341, #8C938B, #B2BDAD, #98A88D, #637171, #123B4E);
      border-image-width: 2px;
      border-image-slice: 2;
      border-image-repeat: repeat;
      margin: -2px 17px 0px 17px;
      padding: 2px 4px;
      font-size: 0.8rem;
    }
    
    .card-data-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.6rem;
      margin-top: 3px;
      padding: 0 3px;
    }
  }
  
  .container, .hover-helper, .card-idler, .card {
    transform-style: preserve-3d;
    perspective-origin: 50%;
    perspective: 2000px;
  }
  
  .card-back {
    transform: translateZ(1px);
  }
  
  .card-front {
    transform: translateZ(-1px) rotateY(180deg);
  }
  
  
  .card-idler {
    animation: 3s ease-in-out idle-animation forwards infinite;
    transition: transform 1s;
  }
  
  .card {
    transform: rotateY(180deg);
    transition: transform 1s;
  }
  
  .hover-helper {
    @include absoluteTop();
    width: 450px;
    height: calc(var(--width) * 1.4);
    left: calc(50% - var(--width) / 2);
    top: calc(50% - calc(var(--width) * 1.4) / 2);
    z-index: 100;
  }
  
  .hover-helper:hover ~ .container .card {
    transform: rotateY(0deg);
  }
  
  @keyframes idle-animation {
    0% {
      transform: rotateY(0deg);
    }
    33% {
      transform: rotateY(20deg);
    }
    66% {
      transform: rotateY(-20deg);
    }
  }