body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0e68c; 
    font-family: Arial, sans-serif; 
    color: #eb9983; 
}

nav {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #55c0d3; 
    padding: 0;
}

nav a {
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: #ffa500; 
    transition: color 0.3s ease; 
}

nav a:hover {
    color: #3514b8; 
}

img {
    width: 30vw;
    height: 30vh;
    margin-top: -300px;
}

#red-ball {
    background-color: #1ccd95; 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 5vw;
    top: 0;
    animation: bounce 2s infinite alternate; 
}

@keyframes bounce {
    0% {
        top: 0;
    }
    100% {
        top: 50vh;
    }
}


